@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: #001F3D;
}

.navbar-brand, .navbar-brand span {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #001F3D;
}

.navbar, footer {
    background-color: #FFF5F0;
}

.header-home {
    height: 85vh;
    background-image: url('/images/background.jpg');
    background-size: cover;
}

.overlay-background {
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
}

.description {
    margin: 8rem 0;
}

.recipe-picture {
    height: 16rem;
    width: 16rem;
    background-color: #FFF5F0;
}
