@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Inter', sans-serif;
    color: #001F3D;
}

.navbar-brand, .navbar-brand span {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #001F3D;
}

.navbar, header, footer {
    background-color: #FFF5F0;
}

#sidebar {
    width: 230px;
    height: 100vh;
}
